Django>=4.2
djangorestframework
channels
channels_redis
celery
asgiref
psycopg2-binary 
python-dotenv
redis
django-redis
requests
Pillow
weasyprint
django-celery-beat
django-filter
djangorestframework-simplejwt
djangorestframework-gis
drf-spectacular
drf-spectacular-sidecar
django-otp
django-ratelimit
django-cors-headers
django-storages
boto3
user-agents
django-ipware
pendulum
sendgrid
cryptography
django-mptt